.cart-items {
    display: grid;
}

.cart-item {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.cart-item > * {
    padding: 0px;
    margin: 0px;
}
.cart-item > .option-values {
    display: flex;
    flex-direction: row;
}

.option-values > * {
    padding: 0px;
    margin: 0px;
}

.checkout-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightgray;
  color: Black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.checkout-btn:hover {
  background-color: lightskyblue;
}
