<section class="product-grid">
    @if (products.isLoading()) {
        <p>Loading...</p>
    }
    @if(products.value(); as result) {
        @for(product of result.items; track product.id) {
            <article class="product-card" [routerLink]="['/product', product.id]">
                @if (product.productOptionValueImages.find(i => i.isDefault); as image) {
                    <img [src]="image.url" [alt]="product.name" />
                } @else {
                    <div class="image-placeholder">
                        No image available
                    </div>
                }
                <p>{{product.productVariants.length - 1}} other
                    @for (option of product.options; track option.id) {
                        {{option.name.toLowerCase()}}s @if (!$last) { / }
                    }
                available
                </p>
                <p>{{product.description}},  
                    @for (option of product.options; track option.id) {
                        {{option.name.toLowerCase()}} @if (!$last) {, }
                    }   
                </p>
            </article>
        }
    }
</section>