<h1>Orders</h1>

<button
    type="button"
    [class.active]="filter().status === OrderStatusFilter.All"
    (click)="setStatus(OrderStatusFilter.All)">
    All
  </button>

  <button
    type="button"
    [class.active]="filter().status === OrderStatusFilter.Working"
    (click)="setStatus(OrderStatusFilter.Working)">
    Working
  </button>

  <button
    type="button"
    [class.active]="filter().status === OrderStatusFilter.Completed"
    (click)="setStatus(OrderStatusFilter.Completed)">
    Completed
  </button>

  <button
    type="button"
    [class.active]="filter().status === OrderStatusFilter.Cancelled"
    (click)="setStatus(OrderStatusFilter.Cancelled)">
    Cancelled
  </button>

<table>
    <thead>
        <tr>
            <th>Created</th>
            <th>Order</th>
            <th>Sku</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @if (orders.isLoading()) {
            <p>Loading...</p>
        }
        @if (orders.value(); as result) {
            <div class="order-filters">
  
</div>
            @for (order of orders.value()?.items ?? []; track order.id) {                   
                    @for (item of order.items; track $index) {
                        <tr>
                            <td>{{order.orderDate | date:'short'}}</td>
                            <td><a class="order-link" [routerLink]="['/orders/admin', order.id]">{{order.orderNumber}}</a></td>
                            <td>{{item.sku}}</td>
                            <td>{{item.quantity}}</td>
                            <td>
                                <select 
                                    [value]="order.status"
                                    (change)="updateStatus(order.id, +$any($event.target).value)">
                                    
                                    @for(status of statuses; track status.value) {
                                        <option [value]="status.value">
                                        {{status.label}}
                                        </option>
                                    }
                                </select>
                            </td>
                        </tr>
                    }
                    
                    
                    <!-- <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td>
                        <button type="button" [routerLink]="['edit', category.id]">Edit</button>
                        <button type="button" (click)="handleDelete(category.id)">Delete</button>
                    </td> -->
            }
        }
    </tbody>
</table>